.centresection{
    width: 100%;
    margin: auto;
}

.searchbar-containergrid{
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* This adds a shadow */
    margin: 10px 0px  ;
    /*width: calc(100% - 40px); /* Added to limit the maximum width of the grid */
    padding: 10px;
    position: relative; /* Added for positioning */
    border-radius: 5px;
}

.searchbargrid{
    padding: 5px;
    max-width: 250px;
    width: 100%;
    
}

.button_plus {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #fff;
  cursor: pointer;
  border: 2px solid #2b53a0;
  border-radius: 5px;
  right: 15px;
  top: 15px;
  display: flex;
  margin: auto;
}

.button_plus:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 50%;
  background: #2b53a0;
  top: 50%;
  left: 50%;
}

.button_plus:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2b53a0;
  height: 50%;
  width: 4px;
}

.button_plus:hover:before,
.button_plus:hover:after {
  background: #fff;
  transition: 0.2s;
}

.button_plus:hover {
  background-color: #095776;
  transition: 0.2s;
}

.grid-widecontainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    grid-gap: 15px;
    grid-row-gap: 25px;
    margin: auto;
    max-width: 100%; /* Added to limit the maximum width of the grid */
   padding-bottom: 40px;
  }

.grid-wideitem {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: left;
  min-height: 90px;
  max-height: 500px;
  min-width: 100px;
  max-width: 100%;
  position: relative; /* Added for positioning */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* This adds a shadow */
  display: flex; /* Enable flexbox */
  justify-content: left; /* Center horizontally */
  align-items: top; /* Center vertically */
  transition: background-color 0.3s, transform 0.3s; /* Add transition */
  flex-wrap: wrap;
  border-radius: 5px;
}
.grid-wideitem:hover {
  background-color: #ffffff;
  transform: scale(1.02);
}

  .grid-wideitem h3{
    display: block;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  .grid-wideitem p{
    display: block;
    width: 100%;
    margin: auto;
    padding-bottom: 15px;
  }

  .grid-wideitem .buttoncontainer {
    position: absolute;
    bottom: -10%;
    left: 90%;
    transform: translateX(-50%);
    width: 15%; /* 10% less than the width of the grid item */
    text-align: center; 
  }

  .grid-wideitem .buttoncontainer button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    /* background-color: #007bff;*/
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #28a745;
  }
  

  .grid-SNBcontainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 15px;
    grid-row-gap: 25px;
    margin: auto;
    max-width: 100%; /* Added to limit the maximum width of the grid */
  
  }

  .grid-SNBitem {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: centre;
    min-height: 90px;
    max-height: 500px;
    min-width: 100px;
    max-width: 100%;
    position: relative; /* Added for positioning */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* This adds a shadow */
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: top; /* Center vertically */
    transition: background-color 0.3s, transform 0.3s; /* Add transition */
    border-radius: 5px;
  }
  .grid-SNBitem:hover {
    background-color: #ffffff;
    transform: scale(1.02);
  }
  
    .grid-SNBitem h3{
      display: block;
      width: 100%;
      margin: 0;
      text-align: left;
      font-size: medium;
    }
    .grid-SNBitem p{
      display: block;
      width: 100%;
      margin: auto;
    }
  
    .grid-SNBitem .buttoncontainer {
      position: absolute;
      bottom: -10%;
      left: 90%;
      transform: translateX(-50%);
      width: 15%; /* 10% less than the width of the grid item */
      text-align: center; 
    }
  
    .grid-SNBitem .buttoncontainer button {
      width: 100%;
      padding: 10px;
      font-size: 18px;
      /* background-color: #007bff;*/
      color: #fff;
      border: none;
      cursor: pointer;
      background-color: #28a745;
    }

    .uploadPreview-container1{
      display: flex;
    }
    .uploadPreview1 {
      align-items: center;
      margin: auto;
    }

  @media only screen and (max-width: 700px) {
    .grid-widecontainer {
        display: grid;
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        grid-gap: 15px;
        grid-row-gap: 40px;
        margin: auto;
        max-width: 100%; /* Added to limit the maximum width of the grid */
        padding-bottom: 40px;
      }
    .grid-wideitem .buttoncontainer {
        position: absolute;
        bottom: -15%;
        left: 82%;
        transform: translateX(-50%);
        width: 30%; /* 10% less than the width of the grid item */
        text-align: center; 
      }

    .grid-wideitem {
      background-color: #f0f0f0;

      text-align: left;
      min-height: 90px;
      max-height: 500px;
      min-width: 100px;
      max-width: 100%;
      position: relative; /* Added for positioning */
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* This adds a shadow */
      display: flex; /* Enable flexbox */
      justify-content: left; /* Center horizontally */
      align-items: top; /* Center vertically */
      transition: background-color 0.3s, transform 0.3s; /* Add transition */
      flex-wrap: wrap;
    }

    
    .grid-SNBcontainer {
      display: grid;
      grid-template-columns: repeat(1, minmax(100px, 1fr));
      grid-gap: 15px;
      grid-row-gap: 25px;
      margin: auto;
      max-width: 100%; /* Added to limit the maximum width of the grid */
      padding: 0 20px;   
    }
  }
  @media (min-width: 1001px){
    .centresection{
        width: 1000px;
        margin: auto;
    }
  }

  